@using Admin.Helpers

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "updateModelPopupControl";
    settings.CallbackRouteValues = new { Controller = "MetadataEntity", Action = "UpdateModelPopupPartial" };
    CurrentSettings.LoadPopupViewSettings(settings);
    settings.HeaderText = Resources.Resource.UpdatingModel;

    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div id='updateModelPopupControlDiv' style=\"overflow-y:scroll; height:'400px'\">");
        ViewContext.Writer.Write(Resources.Resource.SetModelItemsForAddOrUpdate + ":<br/><br/>");
        ViewContext.Writer.Write(Html.Partial("UpdateModel/DataModel", false));
        ViewContext.Writer.Write("</div>");
    }
        );
    
    settings.SetFooterTemplateContent(c =>
    {
        ViewContext.Writer.Write("<div style=\"overflow: hidden\"><div style=\"padding: 3px; float: left;\">");
        ViewContext.Writer.Write(
            "<b>ConnectionString:</b> " + Admin.DAL.Settings.ConnectionFodUpdateModel);
        ViewContext.Writer.Write("</div></div>");    
        
        ViewContext.Writer.Write("<div style=\"overflow: hidden\"><div style=\"padding: 3px; float: right;\">");
        ViewContext.Writer.Write(
            "<a class=\"popup-select\" href=\"javascript:updateModelApply();\">"+Resources.Resource.Apply+"</a> ");
        ViewContext.Writer.Write(
            "<a class=\"popup-close\" href=\"javascript:updateModelPopupControl.Hide();\">" + Resources.Resource.Cancel + "</a>");
        ViewContext.Writer.Write("</div></div>");        
    });
}).GetHtml()

<script>
    var updateModelPopupControlDivScroll     = 0;
    function dataModelTree_ExpandedChanging() {
        updateModelPopupControlDivScroll = $("#updateModelPopupControlDiv").scrollTop();
    }
    
    function dataModelTree_ExpandedChanged() {
        $("#updateModelPopupControlDiv").scrollTop(updateModelPopupControlDivScroll);
    }

</script>
