@using Admin.Helpers

@Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "userPopupControl";
        settings.CallbackRouteValues = new {Controller = "SecurityGroup", Action = "UserPopupPartial"};
        CurrentSettings.LoadPopupViewSettings(settings);
        settings.HeaderText = Resources.Resource.Users;

        settings.SetContent(() => ViewContext.Writer.Write(
            Html.Partial("Users/PopupGrid")));
        settings.SetFooterTemplateContent(c =>
                                            {
                                                ViewContext.Writer.Write("<div style=\"overflow: hidden\"><div style=\"padding: 3px; float: right;\">");
                                                ViewContext.Writer.Write(
                                                    "<a class=\"popup-select\" href=\"javascript:userPopupControlSelect();\">" + Resources.Resource.Select + "</a> ");
                                                ViewContext.Writer.Write(
                                                    "<a class=\"popup-close\" href=\"javascript:userPopupControlCancel();\">" + Resources.Resource.Cancel +"</a>");
                                                ViewContext.Writer.Write("</div></div>");
                                            });
    }).GetHtml()