@using Admin.Helpers
@using OptimaJet.Meta.Objects
@Html.DevExpress().GridView(
    settings =>
    {
        CurrentSettings.LoadMainGridViewSettings(settings);
        settings.CallbackRouteValues = new { Controller = "MetaAppSearch", Action = "MainGridPartial" };        
        settings.Columns.Add(column =>
        {
            column.Caption = "Наименование";
            column.FieldName = "Name";
            column.SortAscending();
            column.SetDataItemTemplateContent(
                c => ViewContext.Writer.Write(
                    "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Id")
                    + "'>" + DataBinder.Eval(c.DataItem, "Name") + "</a>"));
        });
        //settings.Columns.Add("IsActive", "Используется", MVCxGridViewColumnType.CheckBox);
        settings.Columns.Add("Status", "Состояние");
        settings.Columns.Add("TypeName", "Тип адаптера");
        //settings.Columns.Add("AlterIndexPath", "Папка для хранение индекса");
        //settings.Columns.Add("Priority", "Приоритет");
        
    }).Bind(MetaAppSearchHelper.GetAll()).GetHtml()