/*
dwkit.com
Lilac theme

Main color: #A3AA80
SideBar color: #996699
*/

.dwkit-header {
    -webkit-box-shadow: 0px 6px 10px #99669912, 0px 1px 18px #99669912, 0px 3px 5px #99669912;
    box-shadow: 0px 6px 10px #99669912, 0px 1px 18px r#99669912, 0px 3px 5px #99669912;
}

.dwkit-sidebar-container{
    background: #996699;
}

.ui.primary.button, .ui.primary.button:focus {
    background: #A3AA80;
    border: 1px solid #A3AA80;
    color: #F0F0F0;
}
.ui.primary.button:hover,
.ui.primary.button:active{
    background: #A3AA80;
}

.ui.secondary.button, .ui.secondary.button:focus {
    background: #FFFFFF;
    border: 1px solid #A3AA80;
    color: #996699;
}

.ui.secondary.button:hover,
.ui.secondary.button:active{
    background: #A3AA80;
}

.alertify-log-success {
    background: #996699!important;
}

.dwkit-sidebar-btn.ui.button, .dwkit-sidebar-btn.ui.button:hover{
    background-color: #CCCCCC!important;
}

.dwkit-cards .dwkit-card .dwkit-card-header{
    background: #996699;
}

.dwkit-cards .dwkit-card{
    border-color: #996699;
}

.dwkit-card > :not(.dwkit-workflowbar-items) > .ui.button.primary,
.dwkit-card > :not(.dwkit-workflowbar-items) > .ui.button.primary:hover {
    border-color: #996699;
    background: #996699;
}

.dwkit-blocks .dwkit-block {
    -webkit-box-shadow: 0px 6px 10px #99669912, 0px 1px 18px #99669912, 0px 3px 5px #99669912;
    box-shadow: 0px 6px 10px #99669912, 0px 1px 18px #99669912, 0px 3px 5px #99669912;
}

/* Admin panel */
.dwkit-formadmin-menu,
.dwkit-formbuilder-toolbox{
    background-color: #996699!important;
}

.ui.buttontype1.button, .ui.buttontype1.button:focus {
    background: #A3AA80;
    border: 1px solid #A3AA80;
    color: #F0F0F0;
}

.ui.buttontype1.button:hover,
.ui.buttontype1.button:active{
    background: #A3AA80;
    color: #fff;
}

.ui.buttontype2.button, .ui.buttontype2.button:focus {
    background: #FFFFFF;
    border: 1px solid #A3AA80;
    color: #996699;
}

.ui.buttontype2.button:hover,
.ui.buttontype2.button:active{
    background: #A3AA80;
}

.dwkit-formadmin-content h1{
    color: #000000!important;
}

.dwkit-formadmin-content .dwkit-admin-resourcelist a{
    color: black!important;
}

.dwkit-formadmin-header-center .ui.fluid.search > .ui.icon.input > input {
    border-bottom-color: #A3AA80!important;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover{
    border-color: #A3AA80!important;
}

.dwkit-formadmin-menu .ui.menu > .item:hover {
    border-bottom-color: #A3AA80!important;
}

.dwkit-formbuilder-toolbox > ul > li:hover
{
    background: #996699!important;
}
