.pivot-toolbar {
    padding: 5px;
    height: 49px;
}

.pivot-toolbar .x-btn {
    padding: 10px 5px;
    height: 37px;
    top: 0px !important;
}

.pivot-toolbar .x-toolbar-text {
    font-weight: bold;
}

.pivot-toolbar .fa {
    font-size: 16px;
    color: #4C5264;
}

#templateMenu .x-menu-item-icon.fa {
    padding: 10px 5px;
    font-size: 16px;
    color: #4C5264;
}

#templateMenu .x-menu-item {
    padding: 10px 5px;
}

.x-boundlist-item {
    padding: 10px;
}

.template-toolbar .fa {
    font-size: 16px;
    color: #fffff0;
}

.template-toolbar .btn-primary .x-btn-inner {
    color: #fffff0;
}

.popup-template {
    /*border-width: 0px;*/
}

.popup-template .x-field-label-cell {
    vertical-align: middle;
}

.x-tool-maximize, .x-tool-restore, .x-tool-collapse-top, .x-tool-expand-bottom {
    margin-bottom: 5px;
}

label.x-form-cb-label-after {
    display: inline !important;
}

.x-form-cb-wrap .x-form-cb {
    margin-top: 3px !important;
}

.x-grid-grand-total .x-grid-cell-inner,
.x-grid-grand-total .x-column-header-inner {
      color: black;
}

.x-config-panel-ct {
    background-color: #E0DDD7;
}

.x-config-panel-text {
    color: black;
}

.x-config-column-data-source {
    background-color: #97CDA6;
}

.x-mask-msg hidden {
    display: none;
}

#btn-create-report .x-mask-msg-text {
    background-position: left top !important;
}

.displayfield-fullsize{
       width: 100% !important;
}

.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}

.fields-panel {
    border-bottom: 5px solid gray;
}