@using Admin.Helpers
@using OptimaJet.Meta.Objects
@model bool
@Html.DevExpress().GridView(
    settings =>
    {
        CurrentSettings.LoadMainGridViewSettings(settings);
        settings.CallbackRouteValues = new { Controller = "MetadataEntity", Action = "MainGridPartial" };
        settings.ClientSideEvents.BeginCallback =
            @"function OnBeginCallback(s, e) {
                e.customArgs[""MainGridIsShowDeleted""] = MainGridIsShowDeleted;
            }";
        settings.Columns.Add(column =>
        {
            column.Caption = Resources.Resource.Name;
            column.FieldName = "Caption";
            column.SortAscending();
            column.SetDataItemTemplateContent(
                c => ViewContext.Writer.Write(
                    "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Id")
                    + "'>" + DataBinder.Eval(c.DataItem, "Caption") + "</a>"));
        });
        settings.Columns.Add("TableName", Resources.Resource.TableName);
        settings.Columns.Add("IsView", Resources.Resource.Value, MVCxGridViewColumnType.CheckBox);
        settings.Columns.Add("IsDeleted", Resources.Resource.Deleted, MVCxGridViewColumnType.CheckBox);
        settings.Columns.Add("IsSystem", Resources.Resource.System, MVCxGridViewColumnType.CheckBox);
    }).Bind(MetadataEntityHelper.GetAll(Model)).GetHtml()