@using Admin.Helpers.ControlSetting

@{
    ViewBag.Title = Resources.Resource.Functions;
}
<h1>@ViewBag.Title</h1><br />

@Html.Partial("Partials/MainToolbar", new ToolBarSetting
                                                    {
                                                        ShowIsDeletedButton = false,
                                                        //CustomAddAction = "javascript:createExternalMethod()"
                                                    })
@Html.Partial("MainGrid")
@Html.Partial("Scan/Partial")