@using Admin.Helpers
@using DevExpress.Data
@using OptimaJet.Meta.Objects
@Html.DevExpress().GridView(
    settings =>
    {
        CurrentSettings.LoadMainGridViewSettings(settings);
        settings.CallbackRouteValues = new { Controller = "MetaScheduler", Action = "MainGridPartial" };
        settings.Columns.Add(column =>
        {
            column.Caption = "Наименование";
            column.FieldName = "Name";
            column.SetDataItemTemplateContent(
                c => ViewContext.Writer.Write(
                    "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Id")
                    + "'>" + DataBinder.Eval(c.DataItem, "Name") + "</a>"));
            column.SortOrder = ColumnSortOrder.Ascending;
        });
        settings.Columns.Add("IsActive", "Активна", MVCxGridViewColumnType.CheckBox);
    }).Bind(MetaSchedulerHelper.GetAll()).GetHtml()
