@using Admin.Helpers
@using DevExpress.Data
@Html.DevExpress().GridView(
    gridSettings =>
        {
            CurrentSettings.LoadMainGridViewSettings(gridSettings);
            gridSettings.SettingsPager.PageSize = 10;
            gridSettings.Name = "userPopupGridControl";
            gridSettings.CallbackRouteValues = new {Controller = "SecurityRole", Action = "UserPopupGridPartial"};
            gridSettings.Columns.Add(column =>
                                         {
                                             column.Caption = Resources.Resource.Name;
                                             column.FieldName = "Name";
                                             column.SetDataItemTemplateContent(
                                                 c => ViewContext.Writer.Write(
                                                     "<a href='" + Url.Action("Edit", "SecurityUser") + "/" + DataBinder.Eval(c.DataItem, "Id")
                                                     + "'>" + DataBinder.Eval(c.DataItem, "Name") + "</a>"));
                                             column.SortOrder = ColumnSortOrder.Ascending;
                                         });
            gridSettings.Columns.Add("Email");
            gridSettings.Columns.Add("IsLocked", Resources.Resource.Locked, MVCxGridViewColumnType.CheckBox);
        }).BindToLINQ("Admin.DAL.DBEntities", "SecurityUser").GetHtml()