@{
    Layout = "_Layout";
}

<div class="dwkit-wrapper">
    <div class="dwkit-login-wrapper">
        <div class="dwkit-login">
            <div id="content"></div>
        </div>
    </div>    
</div>

<script src="@Url.Content("~/js/vendor.js")"></script>
<script src="@Url.Content("~/js/login.js")"></script>
