@using OptimaJet.Common
@using OptimaJet.Security
@{
    ViewBag.Title = string.Format("{0} :: {1}", Admin.DAL.Settings.ApplicationName, ViewBag.Title);
}
<!DOCTYPE html>
<html lang="ru">
<head>    
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-startup-image" href="resources/startup/Default.jpg">
    <link rel="apple-touch-icon" href="resources/icons/icon.png">

</head>
<body>
    @Html.Partial("MobileLoading")
    @RenderBody()
</body>
</html>
