@{
    ViewBag.Title = OptimaJet.Localization.LocalizationProvider.Provider.Get("Loading") + "...";
    
    string defaultPage = Admin.DAL.Settings.Current["StartPage"];
    var profile = OptimaJet.BJet.CommonSettings.Profile;
    if (((OptimaJet.DynamicEntities.Model.DynamicEntity)profile).HasProperty("StartPage") &&
        !string.IsNullOrWhiteSpace(profile.StartPage))
    { 
        defaultPage = profile.StartPage;
    }  
}
<div class="page-title">	
	
</div>		
<div id="container">
</div>

<script type="text/javascript">
    Ext.onReady(function () {
        if (location.search == '') {
            debugger;
            var b = $.cookie("budget");
            var bv = $.cookie("budgetversion");
            optimajet.UrlAddParamsAddOrUpdateParam('B', b);
            optimajet.UrlAddParamsAddOrUpdateParam('BV', bv);
            location.search = optimajet.CorrectUrl(location.search);
        }
        else {
            optimajet.LoadForm('@defaultPage');
        }
    });
</script>