<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="Data Source=(local);initial catalog=ApprovalSystem;integrated security=True" providerName="System.Data.SqlClient" />
  <!--<add name="DEData" connectionString="data source=(local)\SQL2012;initial catalog=GlobexBJET;Integrated Security=true"/>
  <add name="DEMetadata" connectionString="data source=(local)\SQL2012;initial catalog=Dwkit;Integrated Security=true"/>
  <add name="DEVersion" connectionString="data source=(local)\SQL2012;initial catalog=GlobexBJET;Integrated Security=true"/>-->
</connectionStrings>