@{
    Layout = "_Layout";
}

<script src="@Url.Content("~/ui/localization.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ui/form/businessobjects.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/GlobalUserActions.js")" type="text/javascript"></script>
<div id="content"></div>
<script src="@Url.Content("~/js/app.js")"></script>
