@using Admin.Helpers
@using OptimaJet.Meta.Objects
@model bool
@Html.DevExpress().GridView(
    settings =>
    {
        CurrentSettings.LoadMainGridViewSettings(settings);
        settings.CallbackRouteValues = new { Controller = "MetaView", Action = "MainGridPartial" };
        settings.ClientSideEvents.BeginCallback =
            @"function OnBeginCallback(s, e) {
                e.customArgs[""MainGridIsShowDeleted""] = MainGridIsShowDeleted;
            }";
        settings.Columns.Add(column =>
        {
            column.Caption = Resources.Resource.Name;
            column.FieldName = "Name";
            column.SortAscending();
            column.SetDataItemTemplateContent(
                c => ViewContext.Writer.Write(
                    "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Id")
                    + "'>" + DataBinder.Eval(c.DataItem, "Name") + "</a>"));
        });
        settings.Columns.Add("Caption", Resources.Resource.Caption);
        settings.Columns.Add("MasterEntity.Caption", Resources.Resource.Model);
        settings.Columns.Add("IsDeleted", Resources.Resource.Deleted, MVCxGridViewColumnType.CheckBox);
    }).Bind(MetaViewHelper.GetAll(Model)).GetHtml()