@using Admin.Helpers
@using DevExpress.Data
@using OptimaJet.Meta.Objects
@Html.DevExpress().GridView(
    settings =>
        {
            CurrentSettings.LoadMainGridViewSettings(settings);
            settings.KeyFieldName = "Code";
            settings.CallbackRouteValues = new {Controller = "WorkflowScheme", Action = "MainGridPartial"};
            settings.Columns.Add(column =>
                                     {
                                         column.Caption = Resources.Resource.Code;
                                         column.FieldName = "Code";
                                         column.SetDataItemTemplateContent(
                                             c => ViewContext.Writer.Write(
                                                 "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Code")
                                                 + "'>" + DataBinder.Eval(c.DataItem, "Code") + "</a>"));
                                         column.SortOrder = ColumnSortOrder.Ascending;
                                     });
        }).Bind(WorkflowSchemeHelper.GetAll()).GetHtml()