@{
    ViewBag.Title = string.Format("Access is denied - {0}", Admin.DAL.Settings.ApplicationName);
}
<script type="text/javascript">
    Ext.onReady(function () {
        document.title = '@ViewBag.Title';
    });
</script>

<div>Access is denied</div>