<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="ikvm:java.system.class.loader" value="TikaOnDotNet.MySystemClassLoader, TikaOnDotNet"/>
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="aspnet:MaxHttpCollectionKeys" value="100000"/> 
  <add key="EventsLogFolder" value="~\Logs\ArchiveEventLogs"/>
  <add key="DefaultGroupId" value="20"/>
</appSettings>