<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="data source=(local);initial catalog=ApprovalSystem;persist security info=True;integrated security=true;" providerName="System.Data.EntityClient" />
  <add name="ApprovalSystem" connectionString="data source=(local);initial catalog=ApprovalSystem;persist security info=True;integrated security=true;" providerName="System.Data.EntityClient" />
  <add name="DWKit" connectionString="data source=(local);initial catalog=DWKit;persist security info=True;integrated security=true;" providerName="System.Data.EntityClient" />
</connectionStrings>