@using Admin.Helpers.ControlSetting
@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Отчеты";
}

<h1>@ViewBag.Title</h1><br />

@Html.Partial("Partials/MainToolbar", new ToolBarSetting
{
    ShowIsDeletedButton = true
})
@Html.Partial("MainGrid", false)