@using Admin.Helpers
@using DevExpress.Data
@using OptimaJet.Meta.Objects
@using OptimaJet.Security.Objects
@model bool
@Html.DevExpress().GridView(
    settings =>
    {
        CurrentSettings.LoadMainGridViewSettings(settings);
        settings.CallbackRouteValues = new { Controller = "MetaReport", Action = "MainGridPartial" };
        settings.ClientSideEvents.BeginCallback =
            @"function OnBeginCallback(s, e) {
                e.customArgs[""MainGridIsShowDeleted""] = MainGridIsShowDeleted;
            }";
        settings.Columns.Add(column =>
        {
            column.Caption = "Наименование";
            column.FieldName = "Name";
            column.SetDataItemTemplateContent(
                c => ViewContext.Writer.Write(
                    "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Id")
                    + "'>" + DataBinder.Eval(c.DataItem, "Name") + "</a>"));
            column.SortOrder = ColumnSortOrder.Ascending;
        });
        settings.Columns.Add("IsDeleted", "Удаленная", MVCxGridViewColumnType.CheckBox);
    }).Bind(MetaReportHelper.GetAll(Model)).GetHtml()