@using Admin.Helpers

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "scanPopupControl";
    settings.CallbackRouteValues = new { Controller = "ExternalMethod", Action = "ScanPopupPartial" };
    CurrentSettings.LoadPopupViewSettings(settings);
    settings.HeaderText = Resources.Resource.Functions;

    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div id='scanPopupControlDiv' >");
        ViewContext.Writer.Write(Html.Partial("Scan/ScanGrid", false));
        ViewContext.Writer.Write("</div>");
    }
        );


    settings.SetFooterTemplateContent(c =>
    {
        ViewContext.Writer.Write("<div style=\"overflow: hidden\"><div style=\"padding: 3px; float: right;\">");
        ViewContext.Writer.Write(
            "<a class=\"popup-select\" href=\"javascript:scanExternalMethodApply();\">" + Resources.Resource.Apply + "</a> ");
        ViewContext.Writer.Write(
            "<a class=\"popup-close\" href=\"javascript:scanPopupControl.Hide();\">" + Resources.Resource.Cancel + "</a>");
        ViewContext.Writer.Write("</div></div>");
    });
}).GetHtml()

<script>
    var scanPopupControlDivScroll = 0;
    function dataModelTree_ExpandedChanging() {
        scanPopupControlDivScroll = $("#scanPopupControlDiv").scrollTop();
    }
    
    function dataModelTree_ExpandedChanged() {
        $("#scanPopupControlDiv").scrollTop(scanPopupControlDivScroll);
    }

</script>