@using Admin.DAL
@using Admin.Helpers
@using OptimaJet.Meta.Objects
@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "emPopup";
    settings.CallbackRouteValues = new { Controller = "MetaView", Action = "EMPopupPartial" };
    CurrentSettings.LoadPopupViewSettings(settings);
    settings.Height = new System.Web.UI.WebControls.Unit("300px");
    settings.HeaderText = Resources.Resource.Functions;

    settings.SetContent(() => ViewContext.Writer.Write(Html.Partial("ExternalMethod/PopupContent")));
    settings.SetFooterTemplateContent(c =>
    {
        ViewContext.Writer.Write("<div style=\"overflow: hidden\"><div style=\"padding: 3px; float: right;\">");
        ViewContext.Writer.Write(
            "<a class=\"popup-select\" href=\"javascript:EMPopupControlSelect();\">" + Resources.Resource.Save + "</a> ");
        ViewContext.Writer.Write(
            "<a class=\"popup-close\" href=\"javascript:EMPopupControlCancel();\">"+ Resources.Resource.Cancel + "</a>");
        ViewContext.Writer.Write("</div></div>");
    });
}).GetHtml()