@using System.Web.UI.WebControls 
@using Admin.Helpers 
@using OptimaJet.Meta.Objects
@model Admin.Models.MetadataEntityAttributeModel

<section>
    @Html.LabelFor(model => model.Type, @<span class="required">&nbsp;</span>)
    <div>
        @Html.EditorFor(model => model.Type)
        @Html.ValidationMessageFor(model => model.Type)
       
    </div>
</section>

