.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    /*font-weight: bold;
    font-size: 1.1em;*/
}

.validation-summary-valid {
    display: none;
}

.tabs {
    background-image: url("../images/tabs.gif") !important;
}

.toolbar-include {
    background-image: url("../images/workspace/include_black.png") !important;
}

.toolbar-exclude {
    background-image: url("../images/workspace/exclude_black.png") !important;
}

.toolbar-create {
    background-image: url("../images/workspace/create_black.png") !important;
}
.toolbar-copy {
    background-image: url("../images/workspace/copy_black.png") !important;
}
.toolbar-edit {
   background-image: url("../images/workspace/edit_black.png") !important;
}
.toolbar-delete {
    background-image: url("../images/workspace/delete_black.png") !important;
}
.toolbar-groupdeleted {
    background-image: url("../images/groupdeleted.png") !important;
}
.toolbar-excel {
    background-image: url("../images/workspace/excel_black.png") !important;
}
.toolbar-print {
    background-image: url("../images/workspace/print_black.png") !important;
}

.toolbar-search {
    background-image: url("../images/search.png") !important;
}

.toolbar-showall {
    background-image: url("../images/showall.png") !important;
}

.toolbar-execute {
    background-image: url("../images/execute.png") !important;
}

.toolbar-cancel {
    background-image: url("../images/workspace/delete_black.png") !important;
}

.toolbar-exit {
    background-image: url("../images/workspace/exit.png") !important;
}


.toolbar-createtask {
    background-image: url("../images/workspace/createtask.png") !important;
}

.toolbar-createdocument {
    background-image: url("../images/workspace/createdoc.png") !important;
}

.toolbar-createfolder {
    background-image: url("../images/workspace/createfolder.png") !important;
}

.toolbar-back {
    background-image: url("../images/workspace/back.png") !important;
}

.toolbar-save {
    background-image: url("../images/workspace/save.png") !important;
}

.toolbar-saveexit {
    background-image: url("../images/workspace/save.png") !important;
}
.toolbar-download {
    background-image: url("../images/workspace/download.png") !important;
}

.toolbar-download-zip {
    background-image: url("../images/workspace/download_zip.png") !important;
}

.toolbar-upload {
    background-image: url("../images/workspace/upload.png") !important;
}

.toolbar-createsubtask {
    background-image: url("../images/workspace/createsubtask.png") !important;
}

.toolbar-starttask {
    background-image: url("../images/workspace/starttask.png") !important;
}

.toolbar-stoptask {
    background-image: url("../images/workspace/stoptask.png") !important;
}