.main_menu_parenttoolbar .x-box-item {
    position: relative;
    display: inline-block;
}
.main_menu_parenttoolbar a {
    position: relative;
    top: 15px;
}
#ChildMainToolbar  {
    padding-top: 10px;
}



div.custom-toolbar  {
    background-color: #CDCDCD;    
}
.custom-toolbar .x-btn-default-toolbar-small {
    background: none;
    border: none;
}
.custom-toolbar .x-btn-default-toolbar-small:hover {
    background-color: grey;
}
.custom-toolbar .x-btn-inner {
    color: #0085c5;    
}



.toolbar-create-white {
    background-image: url("../images/create-white.png") !important;
}