@{
    ViewBag.Title = "У вас нет доступа к панели администрирования";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div style="text-align: center">
    У вас нет доступа к панели администрирования.<br />Обратитесь к системному администратору.</div>