@{
    ViewBag.Title = "UserBlocked";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div style="text-align: center">
    Ваш аккаунт заблокирован.<br />Обратитесь к системному администратору.</div>