@using System.Configuration
@using System.Linq

@{
    var lang = new Dictionary<string, string>();
    lang.Add("en", "English");
    lang.Add("ru", "Russian");
    

    var htmlAtt = new Dictionary<string, object>();
    htmlAtt.Add("style", "width:100%");
    htmlAtt.Add("onchange", "LangKey_OnChange(this);");
}

<table>
    <tr>
        <td>
            <label for="GeneralLang">@Resources.Resource.Language:</label>
        </td>
        <td>
            @Html.DropDownList("GeneralLang",
                         lang.Select(item => new SelectListItem()
                {
                    Text = item.Value,
                    Value = item.Key,
                    Selected = item.Key == System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName
                }).ToList(), htmlAtt)
        </td>
    </tr>
</table>

<script>
    function LangKey_OnChange(sender) {
        window.location.search = "LangKey=" + sender.value;
    }
</script>