@using Admin.Helpers.ControlSetting

@{
    ViewBag.Title = Resources.Resource.Localization;
}
<h1>@ViewBag.Title</h1><br />

@Html.Partial("Partials/MainToolbar", new ToolBarSetting())
@Html.Partial("MainGrid")