@using Admin.Helpers
@using DevExpress.Data
@using OptimaJet.DynamicEntities.DataSource
@using OptimaJet.Localization
@using OptimaJet.DynamicEntities.Query

@{
    var data = DynamicRepository.GetByEntity(
            LocalizationProvider.Provider.GetMetaEntiryName(),
            FilterCriteriaSet.And.Custom("Lang is null"),
            OrderByCriteriaSet.Asc("Key")).
            Select(c=> new Admin.Models.LocalizationModel(){Id = c.Id, Key = c.Key, Value=c.Value});
}

@Html.DevExpress().GridView(
    settings =>
        {
            CurrentSettings.LoadMainGridViewSettings(settings);
            settings.CallbackRouteValues = new {Controller = "Localization", Action = "MainGridPartial"};
            settings.Columns.Add(column =>
                                     {
                                         column.Caption = Resources.Resource.Key;
                                         column.FieldName = "Key";
                                         column.SetDataItemTemplateContent(
                                             c => ViewContext.Writer.Write(
                                                 "<a href='" + Url.Action("Edit") + "/" + DataBinder.Eval(c.DataItem, "Id")
                                                 + "'>" + DataBinder.Eval(c.DataItem, "Key") + "</a>"));
                                         column.SortOrder = ColumnSortOrder.Ascending;
                                     });
            settings.Columns.Add("Value");
        }).Bind(data).GetHtml()