@using Admin.Helpers
@using OptimaJet.Meta.Objects
@model Guid
@Html.DevExpress().GridView(
    settings =>
        {
            CurrentSettings.LoadRelatedGridViewSettings(settings);
            settings.Name = "BlockGrid";
            settings.CallbackRouteValues = new {Controller = "MetaForm", Action = "BlockGridPartial", objectId = Model};
            settings.CommandColumn.ClearFilterButton.Visible = true;
            settings.CommandColumn.ShowSelectCheckbox = true;
            settings.Columns.Add(column =>
                {
                    column.Caption = Resources.Resource.Order;
                    column.FieldName = "Order";
                    column.Width = new System.Web.UI.WebControls.Unit("100px");
                    column.SortAscending();
                });
            settings.Columns.Add(column =>
                                     {
                                         column.Caption = Resources.Resource.Name;
                                         column.FieldName = "Name";
                                         column.SetDataItemTemplateContent(
                                             c => ViewContext.Writer.Write(
                                                 "<a href='" + Url.Action("EditBlock") + "/" + DataBinder.Eval(c.DataItem, "Id")
                                                 + "'>" + DataBinder.Eval(c.DataItem, "Name") + "</a>"));
                                     });
            settings.Columns.Add("Template.Name", Resources.Resource.Template);
            settings.Columns.Add(column =>
            {
                column.Caption = Resources.Resource.LazyLoad;
                column.FieldName = "IsLazyLoad";
                column.Width = new System.Web.UI.WebControls.Unit("100px");
                column.ColumnType = MVCxGridViewColumnType.CheckBox;
            });
            settings.Columns.Add(column =>
            {
                column.Caption = Resources.Resource.Deleted;
                column.FieldName = "IsDeleted";
                column.Width = new System.Web.UI.WebControls.Unit("100px");
                column.ColumnType = MVCxGridViewColumnType.CheckBox;
            });
            
            
            
            
        }).Bind(MetaFormHelper.GetBlocksByFormId(Model)).GetHtml()