@using Admin.Helpers
@using OptimaJet.Meta.Objects
@model Guid
@Html.DevExpress().GridView(
    settings =>
        {
            CurrentSettings.LoadRelatedGridViewSettings(settings);
            settings.Name = "ExternalMethodGrid";
            settings.CallbackRouteValues = new { Controller = "MetaForm", Action = "ExternalMethodGridPartial", objectId = Model };
            settings.CommandColumn.ClearFilterButton.Visible = true;
            settings.CommandColumn.ShowSelectCheckbox = true;
            settings.Columns.Add(column =>
                {
                    column.Caption = Resources.Resource.Order;
                    column.FieldName = "Order";
                    column.SortAscending();
                });
            settings.Columns.Add(column =>
                                     {
                                         column.Caption = Resources.Resource.Name;
                                         column.FieldName = "ExternalMethod.Name";
                                         column.SortAscending();
                                         column.SetDataItemTemplateContent(
                                             c => ViewContext.Writer.Write(
                                                 "<a href='" + Url.Action("EditExternalMethod") + "/" + DataBinder.Eval(c.DataItem, "Id")
                                                 + "'>" + DataBinder.Eval(c.DataItem, "ExternalMethod.Name") + "</a>"));
                                     });
            settings.Columns.Add("ExternalMethodOpType.Name", Resources.Resource.Type);
            settings.Columns.Add("Params", Resources.Resource.Parameters);
         }).Bind(MetaFormHelper.GetExternalMethods(Model)).GetHtml()