@{
    ViewBag.Title = "Приложение заблокировано";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
@model Workspaces.Models.LockScreenModel


<div class="lockscreen-wrapper animated  flipInX">
    <div class="row ">
        <div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-offset-2">
            @*<div class="profile-wrapper">
                <img width="69" height="69" data-src-retina="assets/img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg" alt="">
            </div>*@
        @Html.ValidationSummary(true, "Войти не удалось. Исправьте ошибки и повторите попытку.")
        @using (Html.BeginForm("Lockscreen", "Account", FormMethod.Post, new { id = "login-form", @class = "user-form" }))
        {
            <h2 class="user">@Model.UserName</h2>
            <input type="password" name="password" placeholder="Password" />
            <button type="submit" class="btn btn-primary "><i class="fa fa-unlock"></i></button>
            <button type="button" onclick="ResetLock()" class="btn btn-primary "><i class="fa"> Сменить пользователя</i></button>
        }
        </div>
    </div>
</div>
<div id="push"></div>
<script>
    function ResetLock()
    {
        $.cookie('lockscreen_userid', '');        
        location.href = '/';
    }
</script>
