@model Workspaces.Models.RegisterModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div style="text-align: center; margin-top: 150px;"><h2>To registration, please contact your administrator.</h2></div>

